<action>
	<icon>edit-delete</icon>
	<name>Secure Delete</name>
	<unique-id>1451484670887515-4</unique-id>
	<command>/usr/share/secure_delete_thunar/srm_guified.sh %F</command>
	<description>Securely Wipe Files Before Deletion</description>
	<patterns>*</patterns>
	<directories/>
	<audio-files/>
	<image-files/>
	<other-files/>
	<text-files/>
	<video-files/>
</action>
